<%= form_for(@article) do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@article.errors.count} prevented the article from being saved" %></h2>
      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

<div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>  

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
    
  <div class="actions">
   <%= f.submit "Submit" %>
  </div>

  <%end%>


  <%= button_to 'Delete article', article_path(@article), method: 'delete', data: { confirm: 'Are you sure?' } %>

