<ul>
<li>Name: <%= @article.name %></li>
<li>Description: <%= @article.description %></li>
<li>Link: <%= @article.url %></li>
<li>Category: <%= @article.category.topic %></li>
</ul>

	<% unless current_user.blank? %>
		<% if current_user.id == @article.user_id%>
			<%= button_to "Edit Article", edit_article_path(@article.id), :class => "button", :method => "get" %>
		<%end%>
	<%end%>

<%= image_tag(current_user.profile_photo) %>

<% unless current_user.blank? %>
	<%= form_for [@article, @vote] do |f| %>
		<%= f.hidden_field "article_id", :value => @article.id %>
		<%= f.hidden_field "user_id", :value => current_user.id %>
		<%= f.hidden_field "vote_tally", :value => 1 %>
		<%= submit_tag "Up", :class => 'up-vote' %>
	<% end %>

	<%= form_for [@article, @vote] do |f| %>
		<%= f.hidden_field "article_id", :value => @article.id %>
		<%= f.hidden_field "user_id", :value => current_user.id %>
		<%= f.hidden_field "vote_tally", :value => -1 %>
		<%= submit_tag "Down", :class => 'down-vote' %>
	<% end %>
<% end %>

<div class="votes">
	<% total_votes = @article.votes.sum(:vote_tally) %>
	<h5>Total votes: <%= total_votes %></h5>
</div>

<%= form_tag articles_path, :method => 'get' do %>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<%= link_to "Add a Review", new_article_review_path(@article) %>

<%= paginate @reviews %>

<div class="reviews">
	<% @reviews.each do |review| %>
		<h3><%= review.body %></h3>
		<h5><%= review.user.name %></h5>
</div>

<% unless current_user.blank? %>
	<% if current_user.id == review.user_id || current_user.role == 'admin' %>
		<%= button_to "Edit Review", edit_article_review_path(review.article_id, review.id), :class => "button", :method => "get" %>
		<%end%>
	<%end%>

<% end %>
