  		<p>&nbsp;</p>
		
		<div class="large-6 columns" id="cell">
  			<div class="small-2 columns" id="upvotes">
  				<img id="user-pic" src="/imgs/av_sm_rnd.png">
  				<div id="username"><%= @article.user.name %></div>
  				<br>
  			</div>
  			<div id="article-box">
				
				
				<h3 id="titleh3"><b id="article-title"><%= link_to @article.name, @article.url %></b></h3>
  				<h5 id="description"><%= @article.description %></h5>
					
				<% unless current_user.blank? %>

	  				<div class="small-2 columns" id="upvotes">
						<%= form_for [@article, @vote] do |f| %>
							<%= f.hidden_field "article_id", :value => @article.id %>
							<%= f.hidden_field "user_id", :value => current_user.id %>
							<%= f.hidden_field "vote_tally", :value => 1 %>
							<%= image_submit_tag("/imgs/upvote.png", :class => 'up-vote', :id => "upv-img") %>		
						<% end %>
						
						
	  				</div>
					<div class="small-2 columns" id="upvotes">
						<%= form_for [@article, @vote] do |f| %>
							<%= f.hidden_field "article_id", :value => @article.id %>
							<%= f.hidden_field "user_id", :value => current_user.id %>
							<%= f.hidden_field "vote_tally", :value => -1 %>
							<%= image_submit_tag("/imgs/downvote.png", :class => 'down-vote', :id => "dnv-img") %>	
						<% end %>
					</div>
					
				<% end %>
				
  								
  				<div class="small-2 columns" id="upvotes">
					<b id="upvotes-button"><%= @article.votes.sum(:vote_tally) %></b>
  					<a href="#artcile#replies"><img id="repls-img" src="/imgs/replies.png"></a>
					<% reviews = @article.reviews %>
  				  <a href="#artcile#replies"><b id="replies-button"><%= reviews.length %> reviews</b></a>
				  
				  <img id="vline-img" src="/imgs/vline.png">
  				</div>
				
			
  				
  				<a id="category" href="#search#category"><span class="radius secondary label"><b><%= @article.category.topic %></b></span></a>
		
		
  		  	  	<hr id="move-down-sir"></hr>
  			</div>
  		</div>

	<% unless current_user.blank? %>
		<% if current_user.id == @article.user_id%>
			<%= button_to "Edit Article", edit_article_path(@article.id), :class => "button", :method => "get" %>
		<%end%>
	<%end%>

<% unless current_user.blank? %>
	<%= image_tag(current_user.profile_photo) %>
<% end %>

	  <p>&nbsp;</p>


<div id="reviews">
	<h3>Reviews:</h3>
	<% @reviews.each do |review| %>
  		<div class="large-6 columns" id="cell">
  			<div class="small-2 columns" id="upvotes">
  				<img id="user-pic" src="/imgs/av_sm_rnd.png">
  				<div id="username"><%= review.user.name %></div>
  				<br>
  			</div>
  			<div id="article-box">
				
				
  				<h5 id="description"><%= review.body %></h5>
  				
				<% unless current_user.blank? %>
					<% if current_user.id == review.user_id || current_user.role == 'admin' %>
					 <p>&nbsp;</p>
						<%= button_to "Edit Review", edit_article_review_path(review.article_id, review.id), :class => "button tiny", :method => "get" %>
						<%end%>
					<%end%>
  		  	  	<hr id="move-down-sir"></hr>
  			</div>
  		</div>
		
	<% end %>
</div>

<%= link_to "Add a Review", new_article_review_path(@article) %>

<%= paginate @reviews %>

	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
	  <p>&nbsp;</p>
