<div id='new-container'>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  
	<h1>Edit Your Review</h1>
	<%= form_for(@review, :url => {:action => 'update', :id => @review.id}) do |f| %>

	<div class="field">
	  <%= f.label :body %><br />
	  <%= f.text_field :body %>
	</div>

	<div class="actions">
	  <%= f.submit "Save", class: 'button round' %>
	</div>

	<% end %>


	  <%= button_to "Delete", @review, :method => :delete, class: 'button alert' %>
	  
</div>


