<!DOCTYPE html>
<html>
<head>
  <title>RÜBBIT</title>
  
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/animate.css">

  <script src="/js/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/foundation.min.css">
  <script src="/js/foundation.min.js"></script>
  
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%> -->
	  
<!-- ---------------------------- Nav Bar --------------------------------- -->
	  	<div class="fixed">
	  		<nav class="top-bar" data-topbar role="navigation">
			
	  		  <ul class="title-area">
	  		    <li class="name">
	  			 <a href="/"<><img src="/imgs/rbt_logo.png"></a>
	  		    </li>
	  		  </ul>

	  		  <section class="top-bar-section">
		  
	  			<!-- Left Nav Section -->
	  			<ul class="left">
					
<!-- ----------------- search bar ----------------- -->
					
	  			<form method="get" action="<%= articles_path %>">
	  				<div class="small-10 columns">
	  				  <input type="text" name="search" placeholder="search for articles" id="search-field">
	  				</div>
	  				<div class="small-2 columns">
	  				  <button id="search-button" type="submit" class="button postfix">Search</button>
	  				</div>
	  			</form>
				
<!-- ----------------- end of search bar ----------------- -->
				
	  			</ul>
		  
	  			<!-- Right Nav Section -->
	  			<ul class="right">
				  
			            <%- if current_user -%>
					  <li class="active"><a href="<%= new_article_path %>" id="submit-button">+ Submit Article</a></li>
					   <li><%= link_to 'My Account', edit_user_registration_path %></li>
			              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>


			            <%- else -%>
			              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
			              <li><%= link_to 'Sign In', new_user_session_path %></li>
			            <%- end -%>
	  			</ul>

						
	  		  </section>
		  
	  		</nav>
	  	</div>
	  <!-- ----------------------------- End (Nav Bar)  -------------------------------- -->
	  

<div class="row">
  <%= yield %>
</div>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>
  <%= yield :extra_footer %>
</body>
</html>
